.auth {
  height: 100%;

  form {
    width: 320px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border: 1px solid #ccc;
    padding: 40px;
    -webkit-box-shadow: 4px 4px 16px 0 rgba(50, 50, 50, 0.5);
    -moz-box-shadow: 4px 4px 16px 0 rgba(50, 50, 50, 0.5);
    box-shadow: 4px 4px 16px 0 rgba(50, 50, 50, 0.5);

    h4 {
      text-align: center;
    }

    input, button {
      margin-bottom: 10px;
    }
  }
}

.app .page-header {
  .register {
    padding: 10px;
    a {
      font-size: 20px;

      span {
        font-size: 18px;
      }

      &:hover {
        text-decoration: none;
      }
    }
  }
}