.app {
  display: flex;
  flex-direction: column;
  align-items: stretch;

  .content-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .text-center {
    text-align: center;
  }

  .page-header {
    z-index: 100;
    padding: 0;
    background: transparent;
    border: none;
    margin: 0 0 10px 0;
  }

  .global-progress {
    z-index: 1000;
    background: rgba(255, 255, 255, 0.6) url("../assets/app/progress.svg") no-repeat center;
  }

  .dashboard-header {
    .container {
      width: 100%;
    }

    .navbar-brand {
      cursor: default;
      margin-left: -15px !important;
    }
  }

  .main-menu {
    float: right;
    margin: 0 -15px 0 0;

    .dropdown-menu {
      padding: 0;
      left: auto;
      right: 0;
      position: absolute;
      float: left;
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
      border: 1px solid rgba(0, 0, 0, 0.15);
      background-color: white;
    }

    .menu-icon {
      padding: 0;

      & > a {
        padding: 10px 5px 10px 30px !important;

        &:hover {
          background-color: #f8f8f8 !important;
        }
      }

      #basic-nav-dropdown {
        padding: 15px 15px 15px 30px !important;
      }

      .background-icon {
        background-size: 15px 15px;
        background-position-x: 8px;
      }

      &.connecting > a, &.connecting > a:hover {
        background: url("../assets/app/connecting.svg") no-repeat left;
        .background-icon;
      }

      &.offline > a, &.offline > a:hover {
        background: url("../assets/app/status-offline.svg") no-repeat left;
        .background-icon;
      }

      &.online > a, &.online > a:hover {
        background: url("../assets/app/status-online.svg") no-repeat left;
        .background-icon;
      }

      &.away > a, &.away > a:hover {
        background: url("../assets/app/status-away.svg") no-repeat left;
        .background-icon;
      }

      &.logout > a, &.logout > a:hover {
        background: url("../assets/app/logout.svg") no-repeat left;
        .background-icon;
      }
    }
  }
}